.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
}

.header {
  height: 80px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: table;
  text-align: center;
  width: 100%;
}

.header .title {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
}

.argentina {
  background-image: url(../assets/argentina.jpg);
  background-size: cover;
}

.austria {
  background-image: url(../assets/austria.jpg);
  background-size: cover;
}

.brazil {
  background-image: url(../assets/brazil.jpg);
  background-size: cover;
}

.bulgaria {
  background-image: url(../assets/bulgaria.jpg);
  background-size: cover;
}

.cambodia {
  background-image: url(../assets/cambodia.jpg);
  background-size: cover;
}

.dubai {
  background-image: url(../assets/dubai.jpg);
  background-size: cover;
}

.egypt {
  background-image: url(../assets/egypt.jpg);
  background-size: cover;
}

.germany {
  background-image: url(../assets/germany.jpg);
  background-size: cover;
}

.india {
  background-image: url(../assets/india.jpg);
  background-size: cover;
}

.korea {
  background-image: url(../assets/korea.jpg);
  background-size: cover;
}

.romania {
  background-image: url(../assets/romania.jpg);
  background-size: cover;
}

.slovakia {
  background-image: url(../assets/slovakia.jpg);
  background-size: cover;
}

.spain {
  background-image: url(../assets/spain.jpg);
  background-size: cover;
}

.tailand {
  background-image: url(../assets/tailand.jpg);
  background-size: cover;
}

.taiwan {
  background-image: url(../assets/taiwan.jpg);
  background-size: cover;
}
.turky {
  background-image: url(../assets/turky.jpg);
  background-size: cover;
}

.videoContainer {
  position: relative;
  width: 50vw;
  margin: 20px;
  margin: 0 auto;
}

.video {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: auto;
}

.canvas {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
}

.right {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 30px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 200px;

  button {
    position: relative;
    width: 120px;
    height: 45px;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #333c5f;
    border-radius: 30px;
    background: linear-gradient(145deg, #374066, #2e3656);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:hover {
      cursor: pointer;
      -webkit-animation: button8 0.5s both;
      animation: button8 0.5s both;
    }
  }

  @keyframes button8 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    flex-direction: column;
  }
  .videoContainer {
    width: 100%;
    margin-top: 20px;
  }

  .video {
    max-height: 300px;
  }

  .canvas {
    max-height: 300px;
  }
  .right {
    margin-top: 350px;
  }
  .buttons {
    width: 100%;

    button {
      width: calc(100% * 1 / 2);
    }
  }
}
